body {
  background-color: #3a5998;
}

.pics {
  margin: auto;
  width: 50%;
}

.mommy {
  color: #00aec6;
  margin: auto;
  height: 50%;
}

h1 {
  text-align: center;

}



.love {
  margin: auto;
  text-align: center;
  color: black;
  width: 50%;
}

.love_2 {

  text-align: center;
}


